dnspython==2.4.2
elasticsearch==8.10.1
impacket==0.11.0
ldap3==2.9.1
mysql_connector_repackaged==0.3.1
netifaces==0.10.4
paramiko==2.6.0
psutil==5.9.6
psycopg2_binary==2.9.9
pycryptodome==3.19.0
pyftpdlib==1.5.9
pymssql==2.2.10
pyOpenSSL==23.2.0
pyOpenSSL==19.0.0
pyOpenSSL==23.3.0
pysnmp==4.4.12
redis==5.0.1
Requests==2.31.0
scapy==2.5.0
setuptools==45.2.0
six==1.14.0
Twisted==23.10.0
zope.interface==6.1
